ul {
    background-color: lightgray;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    list-style:none;
    padding: 2px;
  }
  
  button {
    padding: 5px;
    margin: 3px;
    font-size: 1rem;
  }

  li {
    text-align: center;
    color: #fff;

  }
  
  button:hover {
    background-color: green;
  }
  
  p{
    width: 90%;
    border: 1px solid black;
    margin-left:auto;
    margin-right:auto;
  }